$font-m: 14px;
$mar0: 0;
$pad0: 0;
$saira: 'Saira', sans-serif;
$bg-color: #f2f2f2;
$col1: 8.333333%;
$col2: 16.666667%;
$col3: 25%;
$col3-5: 30%;
$col4: 33.333333%;
$col5: 41.666667%;
$col6: 50%;
$col7: 58.333333%;
$col8: 66.666667%;
$col9: 75%;
$col10: 83.333333%;
$col11: 91.666667%;
$col12: 100%;
$color-main: #0069B4;
$color-sec: #00A7A1;
$c-ora: #FFBF66;
$c-red: #FF5165;
$c-blue: #68B6F5;
$c-green: #97D474;
$c-green: #97D474;
$c-osc: #2e3648;
$breakpoint-xs: 320px;
$breakpoint-sm: 768px;
$breakpoint-md: 990px;
$breakpoint-lg: 1360px;
$breakpoint-xlg: 1450px;
