RewriteEngine on  
 RewriteBase /ficha_sds/servicios/personas/  
 RewriteCond %{REQUEST_FILENAME} !-d  
 RewriteCond %{REQUEST_FILENAME} !-f  
 RewriteCond %{REQUEST_FILENAME} !-l  
 RewriteRule ^(.+)$ personas.php?url=$1 [QSA,NC,L]  
