 RewriteEngine on  
 RewriteBase /SDS/gestoresV2/servicios/login/  
 RewriteCond %{REQUEST_FILENAME} !-d  
 RewriteCond %{REQUEST_FILENAME} !-f  
 RewriteCond %{REQUEST_FILENAME} !-l  
 RewriteRule ^(.+)$ login.php?url=$1 [QSA,NC,L]  
